In [1]:
#Tuple Basics

In [2]:
t = (1, 2, 3)
print(t)

(1, 2, 3)

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
t2 = tuple([4, 5, 6])
print(t2)

(4, 5, 6)

In [5]:
t3 = 1, 2, 3
print(t3)

(1, 2, 3)

In [6]:
t4 = (1,)  # single element
print(t4)

(1,)

In [7]:
print(len(t))

3

In [8]:
print(t[0])

1

In [9]:
print(t[-1])

3

In [10]:
print(t[1:3])

(2, 3)

In [11]:
print(t[:2])

(1, 2)

In [12]:
print(t[::2])

(1, 3)

In [13]:
print(2 in t)

True

In [14]:
print(5 not in t)

True

In [15]:
print(t + (4, 5))

(1, 2, 3, 4, 5)

In [16]:
print(t * 2)

(1, 2, 3, 1, 2, 3)

In [17]:
t_nested = (1, (2, 3))
print(t_nested[1][0])

2

In [18]:
print(type(()))

<class 'tuple'>

In [19]:
print(tuple("abc"))

('a', 'b', 'c')

In [20]:
print(tuple(range(3)))

(0, 1, 2)

In [21]:
print(sorted((3, 1, 2)))

[1, 2, 3]

In [22]:
#Tuple Functions

In [23]:
print(sum((1, 2, 3)))

6

In [24]:
print(min((1, 2, 3)))

1

In [25]:
print(max((1, 2, 3)))

3

In [26]:
print(all((1, True, 3)))

True

In [27]:
print(any((0, 0, 1)))

True

In [28]:
print(list((1, 2, 3)))

[1, 2, 3]

In [29]:
print(str((1, 2)))

(1, 2)

In [30]:
print(reversed((1, 2, 3)))

<reversed object at 0x0000021F7A08B910>

In [31]:
for i in reversed((1, 2, 3)):
    print(i)

3
2
1

In [32]:
print(tuple(reversed((1, 2, 3))))

(3, 2, 1)

In [33]:
#Tuple Unpacking

In [34]:
a, b = (10, 20)
print(a, b)

10 20

In [35]:
a, b, c = (1, 2, 3)
print(c)

3

In [36]:
t = (1, 2, 3, 4)
a, *b = t
print(b)

[2, 3, 4]

In [37]:
*a, b = t
print(a, b)

[1, 2, 3] 4

In [38]:
a, b, *c = t
print(c)

[3, 4]

In [39]:
a, b, c, d = (10, 20, 30, 40)
print(f"{a=}, {b=}, {c=}, {d=}")

a=10, b=20, c=30, d=40

In [40]:
t1 = (1, 2)
t2 = (3, 4)
a, b, c, d = (*t1, *t2)
print(a + d)

5

In [41]:
x, y = divmod(10, 3)
print(x, y)

3 1

In [42]:
data = [(1, 2), (3, 4)]
for a, b in data:
    print(a + b)

3
7

In [43]:
for idx, val in enumerate((10, 20, 30)):
    print(idx, val)

0 10
1 20
2 30

In [45]:
#Tuple Methods / Immutable Nature

In [46]:
t = (1, 2, 3, 2)
print(t.count(2))

2

In [47]:
print(t.index(3))

2

In [48]:
try:
    t[0] = 100
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [49]:
try:
    t.append(4)
except AttributeError as e:
    print(e)

'tuple' object has no attribute 'append'

In [50]:
x = (1, 2, 3)
print(id(x))
x = x + (4,)
print(id(x))  # different object

2334221183360
2334221131648

In [51]:
t = (1, [2, 3])
t[1][0] = 99  # mutable inside
print(t)

(1, [99, 3])

In [52]:
t = (1, 2, 3)
print(t.index(2))

1

In [53]:
print((1, 2) == (1, 2))

True

In [54]:
print((1, 2) < (2, 1))

True

In [55]:
#Tuple with Other Data Types

In [56]:
mixed = (1, "two", 3.0)
print(mixed)

(1, 'two', 3.0)

In [57]:
print(isinstance((1, 2), tuple))

True

In [58]:
d = {"a": 1, "b": 2}
print(tuple(d.items()))

(('a', 1), ('b', 2))

In [59]:
print(list(d.items()))

[('a', 1), ('b', 2)]

In [60]:
print(tuple(d.keys()))

('a', 'b')

In [61]:
print(tuple(d.values()))

(1, 2)

In [62]:
names = ["a", "b"]
scores = [10, 20]
zipped = tuple(zip(names, scores))
print(zipped)

(('a', 10), ('b', 20))

In [63]:
unzipped = zip(*zipped)
print(tuple(unzipped))

(('a', 'b'), (10, 20))

In [64]:
args = (5, 2)
print(pow(*args))

25

In [65]:
matrix = ((1, 2), (3, 4))
for row in matrix:
    print(row)

(1, 2)
(3, 4)

In [67]:
#Advanced / Tricks / Tuple Use Cases

In [68]:
coords = ((0, 0), (1, 1))
for x, y in coords:
    print(x + y)

0
2

In [69]:
for pair in [(1, 2), (3, 4)]:
    print(sum(pair))

3
7

In [70]:
for pair in [(1, 2), (3, 4)]:
    print(sum(pair))

3
7

In [71]:
def multi_return():
    return 1, 2, 3
x, y, z = multi_return()
print(z)

3

In [72]:
t = (4, 5, 6)
print("ID:", id(t))

ID: 2334221288512

In [73]:
print(hash((1, 2, 3)))

529344067295497451

In [74]:
print(tuple())
print(() == ())

()
True

In [75]:
print((1,) * 3)

(1, 1, 1)

In [76]:
print((0,) * 5)

(0, 0, 0, 0, 0)

In [77]:
nums = 1, 2, 3
print(sum(nums))

6

In [78]:
#Tuple Comprehension (via Generator)

In [79]:
gen = (x**2 for x in range(3))
print(tuple(gen))

(0, 1, 4)

In [80]:
print(tuple(map(str, [1, 2, 3])))

('1', '2', '3')

In [81]:
print(tuple(filter(lambda x: x > 1, [1, 2, 3])))

(2, 3)

In [82]:
t = tuple(i for i in range(5) if i % 2 == 0)
print(t)

(0, 2, 4)

In [83]:
names = ["Tom", "Tim"]
lengths = tuple(len(n) for n in names)
print(lengths)

(3, 3)

In [84]:
s = "abc"
print(tuple(enumerate(s)))

((0, 'a'), (1, 'b'), (2, 'c'))

In [85]:
for i, c in enumerate("hi"):
    print(i, c)

0 h
1 i

In [86]:
pairs = [("a", 1), ("b", 2)]
print(dict(pairs))

{'a': 1, 'b': 2}

In [87]:
print(tuple(dict(pairs).items()))

(('a', 1), ('b', 2))

In [88]:
t = tuple(zip("abc", range(3)))
print(t)

(('a', 0), ('b', 1), ('c', 2))

In [89]:
t = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sorted(t))  # by first

[(1, 'a'), (2, 'b'), (3, 'c')]

In [90]:
print(sorted(t, key=lambda x: x[1]))  # by second

[(1, 'a'), (2, 'b'), (3, 'c')]

In [91]:
data = [("John", 90), ("Alice", 95)]
top = max(data, key=lambda x: x[1])
print(top)

('Alice', 95)

In [92]:
points = [(0, 0), (1, 1), (2, 3)]
print([x for x, y in points])

[0, 1, 2]

In [93]:
flatten = ((1, 2), (3, 4))
print(sum(flatten, ()))  # flattening

(1, 2, 3, 4)

In [94]:
nested = ((1,), (2, 3), (4,))
for tup in nested:
    print(len(tup))

1
2
1

In [95]:
t = tuple(sorted([3, 1, 2]))
print(t)

(1, 2, 3)

In [96]:
print(tuple(reversed((1, 2, 3))))

(3, 2, 1)

In [97]:
seq = ((1, 2), (3, 4))
print(tuple(sum(seq, ())))

(1, 2, 3, 4)

In [98]:
print(len(set([(1, 2), (1, 2), (2, 3)])))

2

In [100]:
#Tuple Tricks / Enumerate / Internals

In [101]:
print(any(isinstance(i, tuple) for i in [(1, 2), 3]))

True

In [102]:
print(all(isinstance(i, tuple) for i in [(1, 2), (3, 4)]))

True

In [103]:
seq = [(1, 2), (3, 4)]
flat = [x for tup in seq for x in tup]
print(flat)

[1, 2, 3, 4]

In [104]:
t = (None,) * 3
print(t)

(None, None, None)

In [105]:
data = (1, 2, 3)
x, y, z = data
print(x, y, z)

1 2 3

In [106]:
x = (1, 2)
a, b = x
print(a + b)

3

In [107]:
tuple_str = "(1, 2, 3)"
print(eval(tuple_str))

(1, 2, 3)

In [108]:
tpl = (i for i in range(3))
print(tuple(tpl))

(0, 1, 2)

In [109]:
tpl = (1, "two", [3, 4])
print(tpl[2][1])  # 4

4

In [110]:
nested = ((1, 2), (3, 4), (5, 6))
print(nested[1][0])  # Output: 3

3

In [111]:
t = ('a',) * 5
print(t)  # Output: ('a', 'a', 'a', 'a', 'a')

('a', 'a', 'a', 'a', 'a')

In [112]:
a = (1, 2)
b = [3, 4]
combined = (*a, *b)
print(combined)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [113]:
mixed = (1, 'two', 3.0, [4, 5])
print(mixed)

(1, 'two', 3.0, [4, 5])

In [114]:
tup = ('a', 'b', 'c')
for index, value in enumerate(tup):
    print(index, value)

0 a
1 b
2 c

In [115]:
words = ('Hello', 'World')
sentence = ' '.join(words)
print(sentence)  # Output: Hello World

Hello World

In [116]:
t = (1, 2, 3, 4)
print(t[::-1])  # Output: (4, 3, 2, 1)

(4, 3, 2, 1)

In [117]:
nested = ((1, 2), (3, 4))
flat = tuple(i for t in nested for i in t)
print(flat)  # Output: (1, 2, 3, 4)

(1, 2, 3, 4)

In [118]:
a = (1, 2, 3)
b = ('a', 'b', 'c')
zipped = tuple(zip(a, b))
print(zipped)  # Output: ((1, 'a'), (2, 'b'), (3, 'c'))

((1, 'a'), (2, 'b'), (3, 'c'))

In [119]:
pairs = [(1, 'one'), (2, 'two')]
for num, name in pairs:
    print(num, name)

1 one
2 two

In [120]:
d = {'a': 1, 'b': 2}
print(tuple(d))  # Output: ('a', 'b')

('a', 'b')

In [121]:
nums = (5, 2, 9, 1)
print(min(nums), max(nums))  # Output: 1 9

1 9

In [122]:
data = [(1, 2), (1, 2), (2, 3)]
unique = set(data)
print(unique)  # Output: {(1, 2), (2, 3)}

{(2, 3), (1, 2)}

In [123]:
colors = ('red', 'green', 'blue')
print('green' in colors)  # Output: True

True

In [124]:
a, b = 10, 20
a, b = b, a
print(a, b)  # Output: 20 10

20 10

In [125]:
my_dict = {('x', 1): 'value'}
print(my_dict[('x', 1)])  # Output: value

value

In [126]:
t = (1, 2, 3, 4)
a, *b = t
print(a, b)  # Output: 1 [2, 3, 4]

1 [2, 3, 4]

In [127]:
squares = tuple(x*x for x in range(5))
print(squares)  # Output: (0, 1, 4, 9, 16)

(0, 1, 4, 9, 16)

In [128]:
from collections import Counter
t = ('a', 'b', 'a', 'c', 'b')
print(Counter(t))  # Output: Counter({'a': 2, 'b': 2, 'c': 1})

Counter({'a': 2, 'b': 2, 'c': 1})

In [129]:
lst = [('a', 1), ('b', 2)]
d = dict(lst)
print(d)  # Output: {'a': 1, 'b': 2}

{'a': 1, 'b': 2}