In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='object')

In [5]:
df

   a  b
0  7  3
1  1  2
2  5  1

In [6]:
df.dtypes

a    object
b    object
dtype: object

In [7]:
# Let's set the datatype as integer
df1 = pd.DataFrame({'a': [7, 1, 5], 'b': ['3','2','1']}, dtype='int')

In [8]:
df1

   a  b
0  7  3
1  1  2
2  5  1

In [9]:
type(df1)

pandas.core.frame.DataFrame

In [10]:
df1.dtypes

a    int64
b    int64
dtype: object