In [505]:
# Example 1 - Arithmetic Operators

print(1 + 2)

3

In [2]:
# Example 2 - Arithmetic Operators
print(2 + 3)

5

In [3]:
# Example 3 - Arithmetic Operators
print(3 + 4)

7

In [506]:
# Example 4 - Arithmetic Operators
print(4 + 5)

9

In [5]:
# Example 5 - Arithmetic Operators
print(5 + 6)

11

In [6]:
# Example 6 - Arithmetic Operators
print(6 + 2)

8

In [507]:
# Example 7 - Arithmetic Operators
print(7 + 3)

10

In [8]:
# Example 8 - Arithmetic Operators
print(8 + 4)

12

In [9]:
# Example 9 - Arithmetic Operators
print(9 + 5)

14

In [10]:
# Example 10 - Arithmetic Operators
print(10 + 6)

16

In [11]:
# Example 11 - Arithmetic Operators
print(1 + 2)

3

In [12]:
# Example 12 - Arithmetic Operators
print(2 + 3)

5

In [13]:
# Example 13 - Arithmetic Operators
print(3 + 4)

7

In [14]:
# Example 14 - Arithmetic Operators
print(4 + 5)

9

In [15]:
# Example 15 - Arithmetic Operators
print(5 + 6)

11

In [16]:
# Example 16 - Arithmetic Operators
print(6 + 2)

8

In [17]:
# Example 17 - Arithmetic Operators
print(7 + 3)

10

In [18]:
# Example 18 - Arithmetic Operators
print(8 + 4)

12

In [19]:
# Example 19 - Arithmetic Operators
print(9 + 5)

14

In [20]:
# Example 20 - Arithmetic Operators
print(10 + 6)

16

In [21]:
# Example 21 - Arithmetic Operators
print(1 + 2)

3

In [22]:
# Example 22 - Arithmetic Operators
print(2 + 3)

5

In [23]:
# Example 23 - Arithmetic Operators
print(3 + 4)

7

In [24]:
# Example 24 - Arithmetic Operators
print(4 + 5)

9

In [25]:
# Example 25 - Arithmetic Operators
print(5 + 6)

11

In [26]:
# Example 26 - Arithmetic Operators
print(6 + 2)

8

In [27]:
# Example 27 - Arithmetic Operators
print(7 + 3)

10

In [28]:
# Example 28 - Arithmetic Operators
print(8 + 4)

12

In [29]:
# Example 29 - Arithmetic Operators
print(9 + 5)

14

In [30]:
# Example 30 - Arithmetic Operators
print(10 + 6)

16

In [31]:
# Example 31 - Arithmetic Operators
print(1 + 2)

3

In [32]:
# Example 32 - Arithmetic Operators
print(2 + 3)

5

In [33]:
# Example 33 - Arithmetic Operators
print(3 + 4)

7

In [34]:
# Example 34 - Arithmetic Operators
print(4 + 5)

9

In [35]:
# Example 35 - Arithmetic Operators
print(5 + 6)

11

In [36]:
# Example 36 - Arithmetic Operators
print(6 + 2)

8

In [37]:
# Example 37 - Arithmetic Operators
print(7 + 3)

10

In [38]:
# Example 38 - Arithmetic Operators
print(8 + 4)

12

In [39]:
# Example 39 - Arithmetic Operators
print(9 + 5)

14

In [40]:
# Example 40 - Arithmetic Operators
print(10 + 6)

16

In [41]:
# Example 41 - Arithmetic Operators
print(1 + 2)

3

In [42]:
# Example 42 - Arithmetic Operators
print(2 + 3)

5

In [43]:
# Example 43 - Arithmetic Operators
print(3 + 4)

7

In [44]:
# Example 44 - Arithmetic Operators
print(4 + 5)

9

In [45]:
# Example 45 - Arithmetic Operators
print(5 + 6)

11

In [46]:
# Example 46 - Arithmetic Operators
print(6 + 2)

8

In [47]:
# Example 47 - Arithmetic Operators
print(7 + 3)

10

In [48]:
# Example 48 - Arithmetic Operators
print(8 + 4)

12

In [49]:
# Example 49 - Arithmetic Operators
print(9 + 5)

14

In [50]:
# Example 50 - Arithmetic Operators
print(10 + 6)

16

In [51]:
# Example 51 - Comparison Operators
print(5 > 1)

True

In [52]:
# Example 52 - Comparison Operators
print(6 > 2)

True

In [53]:
# Example 53 - Comparison Operators
print(7 > 3)

True

In [54]:
# Example 54 - Comparison Operators
print(8 > 4)

True

In [55]:
# Example 55 - Comparison Operators
print(9 > 5)

True

In [56]:
# Example 56 - Comparison Operators
print(10 > 1)

True

In [57]:
# Example 57 - Comparison Operators
print(11 > 2)

True

In [58]:
# Example 58 - Comparison Operators
print(12 > 3)

True

In [59]:
# Example 59 - Comparison Operators
print(13 > 4)

True

In [60]:
# Example 60 - Comparison Operators
print(14 > 5)

True

In [61]:
# Example 61 - Comparison Operators
print(5 > 1)

True

In [62]:
# Example 62 - Comparison Operators
print(6 > 2)

True

In [63]:
# Example 63 - Comparison Operators
print(7 > 3)

True

In [64]:
# Example 64 - Comparison Operators
print(8 > 4)

True

In [65]:
# Example 65 - Comparison Operators
print(9 > 5)

True

In [66]:
# Example 66 - Comparison Operators
print(10 > 1)

True

In [67]:
# Example 67 - Comparison Operators
print(11 > 2)

True

In [68]:
# Example 68 - Comparison Operators
print(12 > 3)

True

In [69]:
# Example 69 - Comparison Operators
print(13 > 4)

True

In [70]:
# Example 70 - Comparison Operators
print(14 > 5)

True

In [71]:
# Example 71 - Comparison Operators
print(5 > 1)

True

In [72]:
# Example 72 - Comparison Operators
print(6 > 2)

True

In [73]:
# Example 73 - Comparison Operators
print(7 > 3)

True

In [74]:
# Example 74 - Comparison Operators
print(8 > 4)

True

In [75]:
# Example 75 - Comparison Operators
print(9 > 5)

True

In [76]:
# Example 76 - Comparison Operators
print(10 > 1)

True

In [77]:
# Example 77 - Comparison Operators
print(11 > 2)

True

In [78]:
# Example 78 - Comparison Operators
print(12 > 3)

True

In [79]:
# Example 79 - Comparison Operators
print(13 > 4)

True

In [80]:
# Example 80 - Comparison Operators
print(14 > 5)

True

In [81]:
# Example 81 - Comparison Operators
print(5 > 1)

True

In [82]:
# Example 82 - Comparison Operators
print(6 > 2)

True

In [83]:
# Example 83 - Comparison Operators
print(7 > 3)

True

In [84]:
# Example 84 - Comparison Operators
print(8 > 4)

True

In [85]:
# Example 85 - Comparison Operators
print(9 > 5)

True

In [86]:
# Example 86 - Comparison Operators
print(10 > 1)

True

In [503]:
# Example 87 - Comparison Operators
print(11 > 2)

True

In [88]:
# Example 88 - Comparison Operators
print(12 > 3)

True

In [89]:
# Example 89 - Comparison Operators
print(13 > 4)

True

In [90]:
# Example 90 - Comparison Operators
print(14 > 5)

True

In [91]:
# Example 91 - Comparison Operators
print(5 > 1)

True

In [92]:
# Example 92 - Comparison Operators
print(6 > 2)

True

In [93]:
# Example 93 - Comparison Operators
print(7 > 3)

True

In [94]:
# Example 94 - Comparison Operators
print(8 > 4)

True

In [95]:
# Example 95 - Comparison Operators
print(9 > 5)

True

In [96]:
# Example 96 - Comparison Operators
print(10 > 1)

True

In [97]:
# Example 97 - Comparison Operators
print(11 > 2)

True

In [98]:
# Example 98 - Comparison Operators
print(12 > 3)

True

In [99]:
# Example 99 - Comparison Operators
print(13 > 4)

True

In [100]:
# Example 100 - Comparison Operators
print(14 > 5)

True

In [101]:
# Example 101 - Assignment Operators
x = 100
x += 1
print(x)

101

In [102]:
# Example 102 - Assignment Operators
x = 101
x += 1
print(x)

102

In [103]:
# Example 103 - Assignment Operators
x = 102
x += 1
print(x)

103

In [104]:
# Example 104 - Assignment Operators
x = 103
x += 1
print(x)

104

In [105]:
# Example 105 - Assignment Operators
x = 104
x += 1
print(x)

105

In [106]:
# Example 106 - Assignment Operators
x = 105
x += 1
print(x)

106

In [107]:
# Example 107 - Assignment Operators
x = 106
x += 1
print(x)

107

In [108]:
# Example 108 - Assignment Operators
x = 107
x += 1
print(x)

108

In [109]:
# Example 109 - Assignment Operators
x = 108
x += 1
print(x)

109

In [110]:
# Example 110 - Assignment Operators
x = 109
x += 1
print(x)

110

In [111]:
# Example 111 - Assignment Operators
x = 110
x += 1
print(x)

111

In [112]:
# Example 112 - Assignment Operators
x = 111
x += 1
print(x)

112

In [113]:
# Example 113 - Assignment Operators
x = 112
x += 1
print(x)

113

In [114]:
# Example 114 - Assignment Operators
x = 113
x += 1
print(x)

114

In [115]:
# Example 115 - Assignment Operators
x = 114
x += 1
print(x)

115

In [116]:
# Example 116 - Assignment Operators
x = 115
x += 1
print(x)

116

In [117]:
# Example 117 - Assignment Operators
x = 116
x += 1
print(x)

117

In [118]:
# Example 118 - Assignment Operators
x = 117
x += 1
print(x)

118

In [119]:
# Example 119 - Assignment Operators
x = 118
x += 1
print(x)

119

In [120]:
# Example 120 - Assignment Operators
x = 119
x += 1
print(x)

120

In [121]:
# Example 121 - Assignment Operators
x = 120
x += 1
print(x)

121

In [122]:
# Example 122 - Assignment Operators
x = 121
x += 1
print(x)

122

In [123]:
# Example 123 - Assignment Operators
x = 122
x += 1
print(x)

123

In [124]:
# Example 124 - Assignment Operators
x = 123
x += 1
print(x)

124

In [125]:
# Example 125 - Assignment Operators
x = 124
x += 1
print(x)

125

In [126]:
# Example 126 - Assignment Operators
x = 125
x += 1
print(x)

126

In [127]:
# Example 127 - Assignment Operators
x = 126
x += 1
print(x)

127

In [128]:
# Example 128 - Assignment Operators
x = 127
x += 1
print(x)

128

In [129]:
# Example 129 - Assignment Operators
x = 128
x += 1
print(x)

129

In [130]:
# Example 130 - Assignment Operators
x = 129
x += 1
print(x)

130

In [131]:
# Example 131 - Assignment Operators
x = 130
x += 1
print(x)

131

In [132]:
# Example 132 - Assignment Operators
x = 131
x += 1
print(x)

132

In [133]:
# Example 133 - Assignment Operators
x = 132
x += 1
print(x)

133

In [134]:
# Example 134 - Assignment Operators
x = 133
x += 1
print(x)

134

In [135]:
# Example 135 - Assignment Operators
x = 134
x += 1
print(x)

135

In [136]:
# Example 136 - Assignment Operators
x = 135
x += 1
print(x)

136

In [137]:
# Example 137 - Assignment Operators
x = 136
x += 1
print(x)

137

In [138]:
# Example 138 - Assignment Operators
x = 137
x += 1
print(x)

138

In [139]:
# Example 139 - Assignment Operators
x = 138
x += 1
print(x)

139

In [140]:
# Example 140 - Assignment Operators
x = 139
x += 1
print(x)

140

In [141]:
# Example 141 - Assignment Operators
x = 140
x += 1
print(x)

141

In [142]:
# Example 142 - Assignment Operators
x = 141
x += 1
print(x)

142

In [143]:
# Example 143 - Assignment Operators
x = 142
x += 1
print(x)

143

In [144]:
# Example 144 - Assignment Operators
x = 143
x += 1
print(x)

144

In [145]:
# Example 145 - Assignment Operators
x = 144
x += 1
print(x)

145

In [146]:
# Example 146 - Assignment Operators
x = 145
x += 1
print(x)

146

In [147]:
# Example 147 - Assignment Operators
x = 146
x += 1
print(x)

147

In [148]:
# Example 148 - Assignment Operators
x = 147
x += 1
print(x)

148

In [149]:
# Example 149 - Assignment Operators
x = 148
x += 1
print(x)

149

In [150]:
# Example 150 - Assignment Operators
x = 149
x += 1
print(x)

150

In [151]:
# Example 151 - Logical Operators
a = True
b = True
print(a and b)

True

In [152]:
# Example 152 - Logical Operators
a = False
b = False
print(a and b)

False

In [153]:
# Example 153 - Logical Operators
a = True
b = False
print(a and b)

False

In [154]:
# Example 154 - Logical Operators
a = False
b = True
print(a and b)

False

In [155]:
# Example 155 - Logical Operators
a = True
b = False
print(a and b)

False

In [156]:
# Example 156 - Logical Operators
a = False
b = False
print(a and b)

False

In [157]:
# Example 157 - Logical Operators
a = True
b = True
print(a and b)

True

In [158]:
# Example 158 - Logical Operators
a = False
b = False
print(a and b)

False

In [159]:
# Example 159 - Logical Operators
a = True
b = False
print(a and b)

False

In [160]:
# Example 160 - Logical Operators
a = False
b = True
print(a and b)

False

In [161]:
# Example 161 - Logical Operators
a = True
b = False
print(a and b)

False

In [162]:
# Example 162 - Logical Operators
a = False
b = False
print(a and b)

False

In [163]:
# Example 163 - Logical Operators
a = True
b = True
print(a and b)

True

In [164]:
# Example 164 - Logical Operators
a = False
b = False
print(a and b)

False

In [165]:
# Example 165 - Logical Operators
a = True
b = False
print(a and b)

False

In [166]:
# Example 166 - Logical Operators
a = False
b = True
print(a and b)

False

In [167]:
# Example 167 - Logical Operators
a = True
b = False
print(a and b)

False

In [168]:
# Example 168 - Logical Operators
a = False
b = False
print(a and b)

False

In [169]:
# Example 169 - Logical Operators
a = True
b = True
print(a and b)

True

In [170]:
# Example 170 - Logical Operators
a = False
b = False
print(a and b)

False

In [171]:
# Example 171 - Logical Operators
a = True
b = False
print(a and b)

False

In [172]:
# Example 172 - Logical Operators
a = False
b = True
print(a and b)

False

In [173]:
# Example 173 - Logical Operators
a = True
b = False
print(a and b)

False

In [174]:
# Example 174 - Logical Operators
a = False
b = False
print(a and b)

False

In [175]:
# Example 175 - Logical Operators
a = True
b = True
print(a and b)

True

In [176]:
# Example 176 - Logical Operators
a = False
b = False
print(a and b)

False

In [177]:
# Example 177 - Logical Operators
a = True
b = False
print(a and b)

False

In [178]:
# Example 178 - Logical Operators
a = False
b = True
print(a and b)

False

In [179]:
# Example 179 - Logical Operators
a = True
b = False
print(a and b)

False

In [180]:
# Example 180 - Logical Operators
a = False
b = False
print(a and b)

False

In [181]:
# Example 181 - Logical Operators
a = True
b = True
print(a and b)

True

In [182]:
# Example 182 - Logical Operators
a = False
b = False
print(a and b)

False

In [183]:
# Example 183 - Logical Operators
a = True
b = False
print(a and b)

False

In [184]:
# Example 184 - Logical Operators
a = False
b = True
print(a and b)

False

In [185]:
# Example 185 - Logical Operators
a = True
b = False
print(a and b)

False

In [186]:
# Example 186 - Logical Operators
a = False
b = False
print(a and b)

False

In [187]:
# Example 187 - Logical Operators
a = True
b = True
print(a and b)

True

In [188]:
# Example 188 - Logical Operators
a = False
b = False
print(a and b)

False

In [189]:
# Example 189 - Logical Operators
a = True
b = False
print(a and b)

False

In [190]:
# Example 190 - Logical Operators
a = False
b = True
print(a and b)

False

In [191]:
# Example 191 - Logical Operators
a = True
b = False
print(a and b)

False

In [192]:
# Example 192 - Logical Operators
a = False
b = False
print(a and b)

False

In [193]:
# Example 193 - Logical Operators
a = True
b = True
print(a and b)

True

In [194]:
# Example 194 - Logical Operators
a = False
b = False
print(a and b)

False

In [195]:
# Example 195 - Logical Operators
a = True
b = False
print(a and b)

False

In [196]:
# Example 196 - Logical Operators
a = False
b = True
print(a and b)

False

In [197]:
# Example 197 - Logical Operators
a = True
b = False
print(a and b)

False

In [198]:
# Example 198 - Logical Operators
a = False
b = False
print(a and b)

False

In [199]:
# Example 199 - Logical Operators
a = True
b = True
print(a and b)

True

In [200]:
# Example 200 - Logical Operators
a = False
b = False
print(a and b)

False

In [201]:
# Example 201 - Bitwise Operators
print(200 & 201)

200

In [202]:
# Example 202 - Bitwise Operators
print(201 & 202)

200

In [203]:
# Example 203 - Bitwise Operators
print(202 & 203)

202

In [204]:
# Example 204 - Bitwise Operators
print(203 & 204)

200

In [205]:
# Example 205 - Bitwise Operators
print(204 & 205)

204

In [206]:
# Example 206 - Bitwise Operators
print(205 & 206)

204

In [207]:
# Example 207 - Bitwise Operators
print(206 & 207)

206

In [208]:
# Example 208 - Bitwise Operators
print(207 & 208)

192

In [209]:
# Example 209 - Bitwise Operators
print(208 & 209)

208

In [210]:
# Example 210 - Bitwise Operators
print(209 & 210)

208

In [211]:
# Example 211 - Bitwise Operators
print(210 & 211)

210

In [212]:
# Example 212 - Bitwise Operators
print(211 & 212)

208

In [213]:
# Example 213 - Bitwise Operators
print(212 & 213)

212

In [214]:
# Example 214 - Bitwise Operators
print(213 & 214)

212

In [215]:
# Example 215 - Bitwise Operators
print(214 & 215)

214

In [216]:
# Example 216 - Bitwise Operators
print(215 & 216)

208

In [217]:
# Example 217 - Bitwise Operators
print(216 & 217)

216

In [218]:
# Example 218 - Bitwise Operators
print(217 & 218)

216

In [219]:
# Example 219 - Bitwise Operators
print(218 & 219)

218

In [220]:
# Example 220 - Bitwise Operators
print(219 & 220)

216

In [221]:
# Example 221 - Bitwise Operators
print(220 & 221)

220

In [222]:
# Example 222 - Bitwise Operators
print(221 & 222)

220

In [223]:
# Example 223 - Bitwise Operators
print(222 & 223)

222

In [224]:
# Example 224 - Bitwise Operators
print(223 & 224)

192

In [225]:
# Example 225 - Bitwise Operators
print(224 & 225)

224

In [226]:
# Example 226 - Bitwise Operators
print(225 & 226)

224

In [227]:
# Example 227 - Bitwise Operators
print(226 & 227)

226

In [228]:
# Example 228 - Bitwise Operators
print(227 & 228)

224

In [229]:
# Example 229 - Bitwise Operators
print(228 & 229)

228

In [230]:
# Example 230 - Bitwise Operators
print(229 & 230)

228

In [231]:
# Example 231 - Bitwise Operators
print(230 & 231)

230

In [232]:
# Example 232 - Bitwise Operators
print(231 & 232)

224

In [233]:
# Example 233 - Bitwise Operators
print(232 & 233)

232

In [234]:
# Example 234 - Bitwise Operators
print(233 & 234)

232

In [235]:
# Example 235 - Bitwise Operators
print(234 & 235)

234

In [236]:
# Example 236 - Bitwise Operators
print(235 & 236)

232

In [237]:
# Example 237 - Bitwise Operators
print(236 & 237)

236

In [238]:
# Example 238 - Bitwise Operators
print(237 & 238)

236

In [239]:
# Example 239 - Bitwise Operators
print(238 & 239)

238

In [240]:
# Example 240 - Bitwise Operators
print(239 & 240)

224

In [241]:
# Example 241 - Bitwise Operators
print(240 & 241)

240

In [242]:
# Example 242 - Bitwise Operators
print(241 & 242)

240

In [243]:
# Example 243 - Bitwise Operators
print(242 & 243)

242

In [244]:
# Example 244 - Bitwise Operators
print(243 & 244)

240

In [245]:
# Example 245 - Bitwise Operators
print(244 & 245)

244

In [246]:
# Example 246 - Bitwise Operators
print(245 & 246)

244

In [247]:
# Example 247 - Bitwise Operators
print(246 & 247)

246

In [248]:
# Example 248 - Bitwise Operators
print(247 & 248)

240

In [249]:
# Example 249 - Bitwise Operators
print(248 & 249)

248

In [250]:
# Example 250 - Bitwise Operators
print(249 & 250)

248

In [251]:
# Example 251 - Identity Operators
a = 250
b = a
print(a is b)

True

In [252]:
# Example 252 - Identity Operators
a = 251
b = a
print(a is b)

True

In [253]:
# Example 253 - Identity Operators
a = 252
b = a
print(a is b)

True

In [254]:
# Example 254 - Identity Operators
a = 253
b = a
print(a is b)

True

In [255]:
# Example 255 - Identity Operators
a = 254
b = a
print(a is b)

True

In [256]:
# Example 256 - Identity Operators
a = 255
b = a
print(a is b)

True

In [257]:
# Example 257 - Identity Operators
a = 256
b = a
print(a is b)

True

In [258]:
# Example 258 - Identity Operators
a = 257
b = a
print(a is b)

True

In [259]:
# Example 259 - Identity Operators
a = 258
b = a
print(a is b)

True

In [260]:
# Example 260 - Identity Operators
a = 259
b = a
print(a is b)

True

In [261]:
# Example 261 - Identity Operators
a = 260
b = a
print(a is b)

True

In [262]:
# Example 262 - Identity Operators
a = 261
b = a
print(a is b)

True

In [263]:
# Example 263 - Identity Operators
a = 262
b = a
print(a is b)

True

In [264]:
# Example 264 - Identity Operators
a = 263
b = a
print(a is b)

True

In [265]:
# Example 265 - Identity Operators
a = 264
b = a
print(a is b)

True

In [266]:
# Example 266 - Identity Operators
a = 265
b = a
print(a is b)

True

In [267]:
# Example 267 - Identity Operators
a = 266
b = a
print(a is b)

True

In [268]:
# Example 268 - Identity Operators
a = 267
b = a
print(a is b)

True

In [269]:
# Example 269 - Identity Operators
a = 268
b = a
print(a is b)

True

In [270]:
# Example 270 - Identity Operators
a = 269
b = a
print(a is b)

True

In [271]:
# Example 271 - Identity Operators
a = 270
b = a
print(a is b)

True

In [272]:
# Example 272 - Identity Operators
a = 271
b = a
print(a is b)

True

In [273]:
# Example 273 - Identity Operators
a = 272
b = a
print(a is b)

True

In [274]:
# Example 274 - Identity Operators
a = 273
b = a
print(a is b)

True

In [275]:
# Example 275 - Identity Operators
a = 274
b = a
print(a is b)

True

In [276]:
# Example 276 - Identity Operators
a = 275
b = a
print(a is b)

True

In [277]:
# Example 277 - Identity Operators
a = 276
b = a
print(a is b)

True

In [278]:
# Example 278 - Identity Operators
a = 277
b = a
print(a is b)

True

In [279]:
# Example 279 - Identity Operators
a = 278
b = a
print(a is b)

True

In [280]:
# Example 280 - Identity Operators
a = 279
b = a
print(a is b)

True

In [281]:
# Example 281 - Identity Operators
a = 280
b = a
print(a is b)

True

In [282]:
# Example 282 - Identity Operators
a = 281
b = a
print(a is b)

True

In [283]:
# Example 283 - Identity Operators
a = 282
b = a
print(a is b)

True

In [284]:
# Example 284 - Identity Operators
a = 283
b = a
print(a is b)

True

In [285]:
# Example 285 - Identity Operators
a = 284
b = a
print(a is b)

True

In [286]:
# Example 286 - Identity Operators
a = 285
b = a
print(a is b)

True

In [287]:
# Example 287 - Identity Operators
a = 286
b = a
print(a is b)

True

In [288]:
# Example 288 - Identity Operators
a = 287
b = a
print(a is b)

True

In [289]:
# Example 289 - Identity Operators
a = 288
b = a
print(a is b)

True

In [290]:
# Example 290 - Identity Operators
a = 289
b = a
print(a is b)

True

In [291]:
# Example 291 - Identity Operators
a = 290
b = a
print(a is b)

True

In [292]:
# Example 292 - Identity Operators
a = 291
b = a
print(a is b)

True

In [293]:
# Example 293 - Identity Operators
a = 292
b = a
print(a is b)

True

In [294]:
# Example 294 - Identity Operators
a = 293
b = a
print(a is b)

True

In [295]:
# Example 295 - Identity Operators
a = 294
b = a
print(a is b)

True

In [296]:
# Example 296 - Identity Operators
a = 295
b = a
print(a is b)

True

In [297]:
# Example 297 - Identity Operators
a = 296
b = a
print(a is b)

True

In [298]:
# Example 298 - Identity Operators
a = 297
b = a
print(a is b)

True

In [299]:
# Example 299 - Identity Operators
a = 298
b = a
print(a is b)

True

In [300]:
# Example 300 - Identity Operators
a = 299
b = a
print(a is b)

True

In [301]:
# Example 301 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [302]:
# Example 302 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [303]:
# Example 303 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [304]:
# Example 304 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [305]:
# Example 305 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [306]:
# Example 306 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [307]:
# Example 307 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [308]:
# Example 308 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [309]:
# Example 309 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [310]:
# Example 310 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [311]:
# Example 311 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [312]:
# Example 312 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [313]:
# Example 313 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [314]:
# Example 314 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [315]:
# Example 315 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [316]:
# Example 316 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [317]:
# Example 317 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [318]:
# Example 318 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [319]:
# Example 319 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [320]:
# Example 320 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [321]:
# Example 321 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [322]:
# Example 322 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [323]:
# Example 323 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [324]:
# Example 324 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [325]:
# Example 325 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [326]:
# Example 326 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [327]:
# Example 327 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [328]:
# Example 328 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [329]:
# Example 329 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [330]:
# Example 330 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [331]:
# Example 331 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [332]:
# Example 332 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [333]:
# Example 333 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [334]:
# Example 334 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [335]:
# Example 335 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [336]:
# Example 336 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [337]:
# Example 337 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [338]:
# Example 338 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [339]:
# Example 339 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [340]:
# Example 340 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [341]:
# Example 341 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [342]:
# Example 342 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [343]:
# Example 343 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [344]:
# Example 344 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [345]:
# Example 345 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [346]:
# Example 346 - Membership Operators
print(0 in [1, 2, 3, 4])

False

In [347]:
# Example 347 - Membership Operators
print(1 in [1, 2, 3, 4])

True

In [348]:
# Example 348 - Membership Operators
print(2 in [1, 2, 3, 4])

True

In [349]:
# Example 349 - Membership Operators
print(3 in [1, 2, 3, 4])

True

In [350]:
# Example 350 - Membership Operators
print(4 in [1, 2, 3, 4])

True

In [351]:
# Example 351 - Combined Expressions
x = 3; y = 4; print((x + y) * 2 - y // x)

13

In [352]:
# Example 352 - Combined Expressions
x = 4; y = 2; print((x + y) * 2 - y // x)

12

In [353]:
# Example 353 - Combined Expressions
x = 1; y = 3; print((x + y) * 2 - y // x)

5

In [354]:
# Example 354 - Combined Expressions
x = 2; y = 4; print((x + y) * 2 - y // x)

10

In [355]:
# Example 355 - Combined Expressions
x = 3; y = 2; print((x + y) * 2 - y // x)

10

In [356]:
# Example 356 - Combined Expressions
x = 4; y = 3; print((x + y) * 2 - y // x)

14

In [357]:
# Example 357 - Combined Expressions
x = 1; y = 4; print((x + y) * 2 - y // x)

6

In [358]:
# Example 358 - Combined Expressions
x = 2; y = 2; print((x + y) * 2 - y // x)

7

In [359]:
# Example 359 - Combined Expressions
x = 3; y = 3; print((x + y) * 2 - y // x)

11

In [360]:
# Example 360 - Combined Expressions
x = 4; y = 4; print((x + y) * 2 - y // x)

15

In [361]:
# Example 361 - Combined Expressions
x = 1; y = 2; print((x + y) * 2 - y // x)

4

In [362]:
# Example 362 - Combined Expressions
x = 2; y = 3; print((x + y) * 2 - y // x)

9

In [363]:
# Example 363 - Combined Expressions
x = 3; y = 4; print((x + y) * 2 - y // x)

13

In [364]:
# Example 364 - Combined Expressions
x = 4; y = 2; print((x + y) * 2 - y // x)

12

In [365]:
# Example 365 - Combined Expressions
x = 1; y = 3; print((x + y) * 2 - y // x)

5

In [366]:
# Example 366 - Combined Expressions
x = 2; y = 4; print((x + y) * 2 - y // x)

10

In [367]:
# Example 367 - Combined Expressions
x = 3; y = 2; print((x + y) * 2 - y // x)

10

In [368]:
# Example 368 - Combined Expressions
x = 4; y = 3; print((x + y) * 2 - y // x)

14

In [369]:
# Example 369 - Combined Expressions
x = 1; y = 4; print((x + y) * 2 - y // x)

6

In [370]:
# Example 370 - Combined Expressions
x = 2; y = 2; print((x + y) * 2 - y // x)

7

In [371]:
# Example 371 - Combined Expressions
x = 3; y = 3; print((x + y) * 2 - y // x)

11

In [372]:
# Example 372 - Combined Expressions
x = 4; y = 4; print((x + y) * 2 - y // x)

15

In [373]:
# Example 373 - Combined Expressions
x = 1; y = 2; print((x + y) * 2 - y // x)

4

In [374]:
# Example 374 - Combined Expressions
x = 2; y = 3; print((x + y) * 2 - y // x)

9

In [375]:
# Example 375 - Combined Expressions
x = 3; y = 4; print((x + y) * 2 - y // x)

13

In [376]:
# Example 376 - Combined Expressions
x = 4; y = 2; print((x + y) * 2 - y // x)

12

In [377]:
# Example 377 - Combined Expressions
x = 1; y = 3; print((x + y) * 2 - y // x)

5

In [378]:
# Example 378 - Combined Expressions
x = 2; y = 4; print((x + y) * 2 - y // x)

10

In [379]:
# Example 379 - Combined Expressions
x = 3; y = 2; print((x + y) * 2 - y // x)

10

In [380]:
# Example 380 - Combined Expressions
x = 4; y = 3; print((x + y) * 2 - y // x)

14

In [381]:
# Example 381 - Combined Expressions
x = 1; y = 4; print((x + y) * 2 - y // x)

6

In [382]:
# Example 382 - Combined Expressions
x = 2; y = 2; print((x + y) * 2 - y // x)

7

In [383]:
# Example 383 - Combined Expressions
x = 3; y = 3; print((x + y) * 2 - y // x)

11

In [384]:
# Example 384 - Combined Expressions
x = 4; y = 4; print((x + y) * 2 - y // x)

15

In [385]:
# Example 385 - Combined Expressions
x = 1; y = 2; print((x + y) * 2 - y // x)

4

In [386]:
# Example 386 - Combined Expressions
x = 2; y = 3; print((x + y) * 2 - y // x)

9

In [387]:
# Example 387 - Combined Expressions
x = 3; y = 4; print((x + y) * 2 - y // x)

13

In [388]:
# Example 388 - Combined Expressions
x = 4; y = 2; print((x + y) * 2 - y // x)

12

In [389]:
# Example 389 - Combined Expressions
x = 1; y = 3; print((x + y) * 2 - y // x)

5

In [390]:
# Example 390 - Combined Expressions
x = 2; y = 4; print((x + y) * 2 - y // x)

10

In [391]:
# Example 391 - Combined Expressions
x = 3; y = 2; print((x + y) * 2 - y // x)

10

In [392]:
# Example 392 - Combined Expressions
x = 4; y = 3; print((x + y) * 2 - y // x)

14

In [393]:
# Example 393 - Combined Expressions
x = 1; y = 4; print((x + y) * 2 - y // x)

6

In [394]:
# Example 394 - Combined Expressions
x = 2; y = 2; print((x + y) * 2 - y // x)

7

In [395]:
# Example 395 - Combined Expressions
x = 3; y = 3; print((x + y) * 2 - y // x)

11

In [396]:
# Example 396 - Combined Expressions
x = 4; y = 4; print((x + y) * 2 - y // x)

15

In [397]:
# Example 397 - Combined Expressions
x = 1; y = 2; print((x + y) * 2 - y // x)

4

In [398]:
# Example 398 - Combined Expressions
x = 2; y = 3; print((x + y) * 2 - y // x)

9

In [399]:
# Example 399 - Combined Expressions
x = 3; y = 4; print((x + y) * 2 - y // x)

13

In [400]:
# Example 400 - Combined Expressions
x = 4; y = 2; print((x + y) * 2 - y // x)

12

In [401]:
# Example 401 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [402]:
# Example 402 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [403]:
# Example 403 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [404]:
# Example 404 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [405]:
# Example 405 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [406]:
# Example 406 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [407]:
# Example 407 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [408]:
# Example 408 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [409]:
# Example 409 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [410]:
# Example 410 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [411]:
# Example 411 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [412]:
# Example 412 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [413]:
# Example 413 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [414]:
# Example 414 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [415]:
# Example 415 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [416]:
# Example 416 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [417]:
# Example 417 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [418]:
# Example 418 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [419]:
# Example 419 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [420]:
# Example 420 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [421]:
# Example 421 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [422]:
# Example 422 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [423]:
# Example 423 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [424]:
# Example 424 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [425]:
# Example 425 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [426]:
# Example 426 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [427]:
# Example 427 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [428]:
# Example 428 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [429]:
# Example 429 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [430]:
# Example 430 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [431]:
# Example 431 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [432]:
# Example 432 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [433]:
# Example 433 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [434]:
# Example 434 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [435]:
# Example 435 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [436]:
# Example 436 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [437]:
# Example 437 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [438]:
# Example 438 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [439]:
# Example 439 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [440]:
# Example 440 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [441]:
# Example 441 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [442]:
# Example 442 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [502]:
# Example 443 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [444]:
# Example 444 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [445]:
# Example 445 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [446]:
# Example 446 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [447]:
# Example 447 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [448]:
# Example 448 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [449]:
# Example 449 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [450]:
# Example 450 - Operator Overloading
class Demo:
    def __add__(self, other):
        return 'Add called'
print(Demo() + Demo())

Add called

In [451]:
# Example 451 - Real-world Examples
price = 100
discount = 0
final_price = price - (price * discount / 100)
print(final_price)

100.0

In [452]:
# Example 452 - Real-world Examples
price = 100
discount = 1
final_price = price - (price * discount / 100)
print(final_price)

99.0

In [453]:
# Example 453 - Real-world Examples
price = 100
discount = 2
final_price = price - (price * discount / 100)
print(final_price)

98.0

In [454]:
# Example 454 - Real-world Examples
price = 100
discount = 3
final_price = price - (price * discount / 100)
print(final_price)

97.0

In [455]:
# Example 455 - Real-world Examples
price = 100
discount = 4
final_price = price - (price * discount / 100)
print(final_price)

96.0

In [456]:
# Example 456 - Real-world Examples
price = 100
discount = 5
final_price = price - (price * discount / 100)
print(final_price)

95.0

In [501]:
# Example 457 - Real-world Examples
price = 100
discount = 6
final_price = price - (price * discount / 100)
print(final_price)

94.0

In [458]:
# Example 458 - Real-world Examples
price = 100
discount = 7
final_price = price - (price * discount / 100)
print(final_price)

93.0

In [459]:
# Example 459 - Real-world Examples
price = 100
discount = 8
final_price = price - (price * discount / 100)
print(final_price)

92.0

In [460]:
# Example 460 - Real-world Examples
price = 100
discount = 9
final_price = price - (price * discount / 100)
print(final_price)

91.0

In [461]:
# Example 461 - Real-world Examples
price = 100
discount = 10
final_price = price - (price * discount / 100)
print(final_price)

90.0

In [462]:
# Example 462 - Real-world Examples
price = 100
discount = 11
final_price = price - (price * discount / 100)
print(final_price)

89.0

In [463]:
# Example 463 - Real-world Examples
price = 100
discount = 12
final_price = price - (price * discount / 100)
print(final_price)

88.0

In [464]:
# Example 464 - Real-world Examples
price = 100
discount = 13
final_price = price - (price * discount / 100)
print(final_price)

87.0

In [465]:
# Example 465 - Real-world Examples
price = 100
discount = 14
final_price = price - (price * discount / 100)
print(final_price)

86.0

In [466]:
# Example 466 - Real-world Examples
price = 100
discount = 15
final_price = price - (price * discount / 100)
print(final_price)

85.0

In [467]:
# Example 467 - Real-world Examples
price = 100
discount = 16
final_price = price - (price * discount / 100)
print(final_price)

84.0

In [468]:
# Example 468 - Real-world Examples
price = 100
discount = 17
final_price = price - (price * discount / 100)
print(final_price)

83.0

In [469]:
# Example 469 - Real-world Examples
price = 100
discount = 18
final_price = price - (price * discount / 100)
print(final_price)

82.0

In [470]:
# Example 470 - Real-world Examples
price = 100
discount = 19
final_price = price - (price * discount / 100)
print(final_price)

81.0

In [471]:
# Example 471 - Real-world Examples
price = 100
discount = 20
final_price = price - (price * discount / 100)
print(final_price)

80.0

In [472]:
# Example 472 - Real-world Examples


price = 100
discount = 21
final_price = price - (price * discount / 100)
print(final_price)

79.0

In [473]:
# Example 473 - Real-world Examples
price = 100
discount = 22
final_price = price - (price * discount / 100)
print(final_price)

78.0

In [474]:
# Example 474 - Real-world Examples
price = 100
discount = 23
final_price = price - (price * discount / 100)
print(final_price)

77.0

In [475]:
# Example 475 - Real-world Examples
price = 100
discount = 24
final_price = price - (price * discount / 100)
print(final_price)

76.0

In [476]:
# Example 476 - Real-world Examples
price = 100
discount = 25
final_price = price - (price * discount / 100)
print(final_price)

75.0

In [477]:
# Example 477 - Real-world Examples
price = 100
discount = 26
final_price = price - (price * discount / 100)
print(final_price)

74.0

In [478]:
# Example 478 - Real-world Examples
price = 100
discount = 27
final_price = price - (price * discount / 100)
print(final_price)

73.0

In [479]:
# Example 479 - Real-world Examples
price = 100
discount = 28
final_price = price - (price * discount / 100)
print(final_price)

72.0

In [480]:
# Example 480 - Real-world Examples
price = 100
discount = 29
final_price = price - (price * discount / 100)
print(final_price)

71.0

In [481]:
# Example 481 - Real-world Examples
price = 100
discount = 0
final_price = price - (price * discount / 100)
print(final_price)

100.0

In [482]:
# Example 482 - Real-world Examples
price = 100
discount = 1
final_price = price - (price * discount / 100)
print(final_price)

99.0

In [483]:
# Example 483 - Real-world Examples



price = 100
discount = 2
final_price = price - (price * discount / 100)
print(final_price)

98.0

In [484]:
# Example 484 - Real-world Examples
price = 100
discount = 3
final_price = price - (price * discount / 100)
print(final_price)

97.0

In [485]:
# Example 485 - Real-world Examples
price = 100
discount = 4
final_price = price - (price * discount / 100)
print(final_price)

96.0

In [486]:
# Example 486 - Real-world Examples
price = 100
discount = 5
final_price = price - (price * discount / 100)
print(final_price)

95.0

In [487]:
# Example 487 - Real-world Examples
price = 100
discount = 6
final_price = price - (price * discount / 100)
print(final_price)

94.0

In [488]:
# Example 488 - Real-world Examples
price = 100
discount = 7
final_price = price - (price * discount / 100)
print(final_price)

93.0

In [489]:
# Example 489 - Real-world Examples
price = 100
discount = 8
final_price = price - (price * discount / 100)
print(final_price)

92.0

In [490]:
# Example 490 - Real-world Examples
price = 100
discount = 9
final_price = price - (price * discount / 100)
print(final_price)

91.0

In [491]:
# Example 491 - Real-world Examples
price = 100
discount = 10
final_price = price - (price * discount / 100)
print(final_price)

90.0

In [492]:
# Example 492 - Real-world Examples
price = 100
discount = 11
final_price = price - (price * discount / 100)
print(final_price)

89.0

In [493]:
# Example 493 - Real-world Examples
price = 100
discount = 12
final_price = price - (price * discount / 100)
print(final_price)

88.0

In [494]:
# Example 494 - Real-world Examples
price = 100
discount = 13
final_price = price - (price * discount / 100)
print(final_price)

87.0

In [495]:
# Example 495 - Real-world Examples
price = 100
discount = 14
final_price = price - (price * discount / 100)
print(final_price)

86.0

In [496]:
# Example 496 - Real-world Examples
price = 100
discount = 15
final_price = price - (price * discount / 100)
print(final_price)

85.0

In [497]:
# Example 497 - Real-world Examples
price = 100
discount = 16
final_price = price - (price * discount / 100)
print(final_price)

84.0

In [498]:
# Example 498 - Real-world Examples
price = 100
discount = 17
final_price = price - (price * discount / 100)
print(final_price)

83.0

In [499]:
# Example 499 - Real-world Examples
price = 100
discount = 18
final_price = price - (price * discount / 100)
print(final_price)

82.0

In [500]:
# Example 500 - Real-world Examples
price = 100
discount = 19
final_price = price - (price * discount / 100)
print(final_price)

81.0